@font-face {
  font-family: "Arial Black";
  src: url("/fonts/@font-face/8984ea7fcbebdcfe77fbbc1b86e7cfe6.woff") format("woff");
}

h1 {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
/*	font-weight: 700;
*/	font-size: 200pt;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.letters {
	text-align: center;
}

.letter {
	display: inline-block;
	margin: 0 5% 0 5%;
}

#letter1 {
	text-decoration: none;
	font-style: normal;
	color: #FF3000;
}

#letter2 {
	color: #FFC612;
}

#letter3 {
	color: #0098FF;
}

#letter4 {
	color: #67C900;
}

#letter5 {
	color: #797F00;
}

#letter6 {
	color: #8E8888;
}

#letter1 a:hover {
/*	color: red;
*/	cursor: hand;
}

#letter2 a:hover {
/*	color: green;
*/	cursor: hand;
}