h1 {
	font-family: arial;
	font-weight: bold;
	font-size: 200pt;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: black;
}

.letters {
	text-align: center;
}

.letter {
	display: inline-block;
	margin: 0 5% 0 5%;
}

#letter1 {
	color: red;
	text-decoration: none;
	font-style: normal;
}

#letter1 a:click {
	color: red;
	cursor: hand;
}

#letter2 a:hover {
	color: green;
	cursor: hand;
}