h1 {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-weight: 700;
	font-size: 200pt;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: black;
}

.letters {
	text-align: center;
}

.letter {
	display: inline-block;
	margin: 0 5% 0 5%;
}

#letter1 {
	text-decoration: none;
	font-style: normal;
	color: #E74A28;
}

#letter2 {
	color: #F4C548;
}

#letter3 {
	color: #797D2A;
}

#letter4 {
	color: #4794F6;
}

#letter5 {
	color: #80C33E;
}

#letter6 {
	color: #8A8686;
}

#letter1 a:hover {
/*	color: red;
*/	cursor: hand;
}

#letter2 a:hover {
/*	color: green;
*/	cursor: hand;
}